@model DarkDev.Models.PedidoNota

@{
    ViewData["Title"] = "Edit note";
}
@await Component.InvokeAsync("PedidoDetalle", new { id = Model.IdPedido })
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bd">
    <a class="navbar-brand tx-bold tx-spacing--2 order-1" href="#">@ViewData["Title"]</a>
    <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu wd-20 ht-20"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </button>

</nav>
<div data-label="@ViewData["Title"]" class="df-example demo-forms mt-3" id="">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Folio" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="hidden" asp-for="IdPedidoNota" class="form-control" />
                <input type="hidden" asp-for="IdPedido" class="form-control" />
                <input type="text" asp-for="Folio" class="form-control" />
                <span asp-validation-for="Folio" class="text-danger"></span>
            </div>
            <label asp-for="Total" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="number" asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Fecha" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="date" asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mg-b-0">
            <div class="col-sm-12 text-right">
                <a href="@Url.Action("Details","Pedido", new { id = Model.IdPedido, Mode = "Notas" })" class="btn btn-sm btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-sm btn-primary">Actualizar</button>
            </div>
        </div>
    </form>
</div>
