@model DarkDev.Models.AportacionesPedidos

@{
    ViewData["Title"] = "Delete a aportación";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bd">
    <a class="navbar-brand tx-bold tx-spacing--2 order-1" href="#">@ViewData["Title"]</a>
    <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu wd-20 ht-20"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </button>
</nav>
<div data-label="@ViewData["Title"]" class="df-example demo-forms mt-3" id="">
    <h2>Are you sure you want to delete this?</h2>
    <div class="form-group row">
        <label asp-for="IdInversionista" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input type="hidden" asp-for="IdAportacionesPedidos" class="form-control" />
            <input type="hidden" asp-for="IdPedido" class="form-control" />
            <select asp-for="IdInversionista" asp-items="ViewBag.Inversionistas" class="form-control select2">
                <option value="0">Selecciona una opción</option>
            </select>
            <span asp-validation-for="IdInversionista" class="text-danger"></span>
        </div>
        <label asp-for="Aporte" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input type="number" asp-for="Aporte" class="form-control" />
            <span asp-validation-for="Aporte" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row mg-b-0">
        <form asp-action="Delete">
            <a href="@Url.Action("Details","Pedido", new { id = Model.IdPedido, Mode = "AportacionesPedidos" })" class="btn btn-sm btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
        </form>
    </div>
</div>
    
    
