@model DarkDev.Models.Articulo

@{
    ViewData["Title"] = "Create";
}
@await Component.InvokeAsync("PedidoNota", new { id = Model.IdPedidoNota })

<div data-label="@ViewData["Title"]" class="df-example demo-forms mt-3" id="">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Codigo" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="hidden" asp-for="IdPedidoNota" class="form-control" />
                @*<input type="hidden" asp-for="IdArticulo" class="form-control" />*@
                <input type="text" asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Descripcion" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <label asp-for="IdProductoTipo" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <select asp-for="IdProductoTipo" asp-items="ViewBag.ProductoTipos" class="form-control">
                    <option value="0">Seleccion..</option>
                </select>
                <span asp-validation-for="IdProductoTipo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Cantidad" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="number" asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <label asp-for="PrecioCompraUnit" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="number" asp-for="PrecioCompraUnit" class="form-control" />
                <span asp-validation-for="PrecioCompraUnit" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Porcentaje" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="number" asp-for="Porcentaje" class="form-control" />
                <span asp-validation-for="Porcentaje" class="text-danger"></span>
            </div>
            <label asp-for="Comentarios" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mg-b-0">
            <div class="col-sm-12 text-right">
                <a href="@Url.Action("Details","PedidoNota", new { id = Model.IdPedidoNota })" class="btn btn-sm btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>


