@model Site.Models.PedidoAbono

@{
    ViewData["Title"] = "Edit";
    var DBMysql = new Site.Models.Sistema.DBMysql();
    DBMysql.OpenConnection();
    var Inversionistas = new Site.Models.Inversionista(DBMysql).List();
    var Pedidos = new Site.Models.Pedido(DBMysql).List();
    DBMysql.CloseConnection();
}

<h2>Edit</h2>

<h4>PedidoAbono</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_pedido" class="control-label"></label>
                <select asp-for="Id_pedido" asp-items="@(new SelectList(Pedidos,"Id","Clave",Model.Id_pedido))" class="form-control">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Id_pedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_invercionista" class="control-label"></label>
                <select asp-for="Id_invercionista" asp-items="@(new SelectList(Inversionistas,"Id","Nombre",Model.Id_invercionista))" class="form-control">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Id_invercionista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to order", "Details", "Pedido", new { id = Model.Id_pedido })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
